body {
  font-family: "Mulish", sans-serif;
  text-align: center;
  font-size: 18px;
  color: #444444;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
/* ajuste tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .img-justica-esquerda,
  .img-justica-direita {
    width: 150px;
    top: 20%;
  }

  .titulo h1 {
    font-size: 2rem;
  }
}
/* ajuste computadores de telas menores */
@media (min-width: 992px) and (max-width: 1360px) {
  .img-justica-esquerda,
  .img-justica-direita {
    width: 300px;
    top: 50%;
  }

  .titulo h1 {
    font-size: 2.2rem;
  }

  .titulo p {
    font-size: 1rem;
  }
}

header {
  background-color: #1c2a4b;
  color: #e4c491;
  overflow: hidden;
}

header h1 {
  font-family: "Pinyon Script", cursive;
  line-height: 1;
  margin-bottom: 2rem;
}

.header-personalizado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.img-justica-esquerda {
  position: absolute;
  left: 20px;
  top: 60%;
  transform: translateY(-50%);
  max-height: 80%;
  z-index: 2;
}

.img-justica-direita {
  position: absolute;
  right: 20px;
  top: 60%;
  transform: translateY(-50%) scaleX(-1);
  max-height: 80%;
  z-index: 2;
}

.titulo {
  text-align: center;
  flex-grow: 1;
  z-index: 1;
}

.titulo img {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

#fabio,
#paula {
  margin-top: 150px;
}

.foto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  padding: 1rem;
}

.foto img {
  max-width: 600px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.informacoes {
  max-width: 600px;
  text-align: left;
  margin: 3rem 0 6rem 3rem;
}

.whatsapp-button {
  background-color: #40c351;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0.5rem 2rem;
  width: 100%;
  display: block;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.whatsapp-button i {
  font-size: 2rem;
  display: inline;
}
.whatsapp-button p {
  display: inline;
  margin-left: 0.5rem;
}

.especialidades h3 {
  margin-bottom: 3rem;
}
/* para celular */
@media (max-width: 767px) {
  .especialistas {
    margin: auto;
    min-width: auto;
    text-align: center;
  }

  .especialistas h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .especialista {
    margin-bottom: 2rem;
  }

  .especialista h3 {
    font-size: 1.2rem;
  }

  .especialista p {
    font-size: 1rem;
    line-height: 1.5;
  }
  a .whatsapp-button {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}
.card {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 480px;
}

.card img {
  width: 100%;
  max-width: 100px;
  margin: auto;
}

footer {
  margin: 150px 0 25px;
}
